.bar-chart{
background: #FDA000;
height: 4rem;
margin-bottom: 8rem;
position: relative;
}
.bar-chart::after{
content: "";
border: 1px #000 solid;
height: 8rem;
position: absolute;
top: 0;
right: 0;
}
.bar-chart .bar-chart--inner{
background: #333;
height: 100%;
display: block;
margin-bottom: .3rem;
position: relative;
will-change: width;
}
.bar-chart .bar-chart--inner::after{
content: "";
border: 1px #000 solid;
height: 8rem;
position: absolute;
top:0;
right: 0;
z-index: 4;
}
.bar-chart .bar-chart--inner{
background: #FF6B02;
}